@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #dadada; /* Change this to the color you want for the scrollbar thumb */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Change this to the color you want for the scrollbar track */
  }
  
  /* For Firefox */
  /* Note: Firefox does not support styling the scrollbar directly. This style will only apply to scrollable elements with the overflow property set to 'auto' or 'scroll'. */
  .scrollbar {
    width: 8px;
  }
  
  .scrollbar-thumb {
    background-color: #dadada; /* Change this to the color you want for the scrollbar thumb */
    border-radius: 4px;
  }
  
  .scrollbar-track {
    background-color: #f1f1f1; /* Change this to the color you want for the scrollbar track */
  }
  